*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
/* section header starts here  */
.header{
    background: url(./images/background.png);
    position: relative;
}
.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}
.n1{
    font-size: 13px;
    font-weight: 550;
}
.n2{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: bolder;
    color: #2D87DA;
    padding: 5px 0;
}
.n3{
    display: flex;
    font-size: 12px;
    font-weight: 600;
    justify-content: space-evenly;
}
.n3-1{
    margin-right: 20px;
}
.n3-2{

}
.n4{
    display: flex;
    padding-top: 35px;
}
.n4-1{
    /* border: 1px solid blue; */
    background: transparent;
    height: 50px;
    width: 50px;
    margin-right: 25px;
}
.n4-1 img{
    object-fit: cover;
    width: 100%;
}
.n4-2{
    /* border: 3px solid red; */
    height: 20px;
    width: 20px;
}
.nxt{
    /* border: 3px solid black; */
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.nxt1{
    /* border: 3px solid green; */
    width: 35%;
    padding: 10px 10px;
}
.pic{
    /* border: 15px solid ; */
    border-radius: 11px;
    border-color: rgba(255, 255, 255, 0.5);
    /* border-inline: ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom; */
    width: 200px;
    height: 220px;
    overflow: hidden;
}
.pic img{
    width: 100%;
    /* height: 100%; */
    /* object-position: contain; */

}
.text{
    padding: 20px 0;
}
.text h3{
    padding: 20px 0;
    color: #3C9CF5;
}
.dot{
    padding: 20px 0;
}
.con{
    font-size: 23px;
    padding-right: 10px;
    color: #3C9CF5;
}
.nxt2{
    /* border: 3px solid red; */
    width: 30%;
    padding: 0 10px;
    line-height: 2.5;
}
.nxt2 h3{
    color:  #3C9CF5;
    border-left: 3.5px solid #3C9CF5 ;
    border-radius: 1px;
    padding-left: 8px;
    font-weight: 500;
    font-size: 27px;
}
.nxt2 h4{
    color:  #3C9CF5;
    padding-left: 15px;
    font-size: 22px;
    font-weight: 500;
}
.nxt2 p{
    padding-left: 15px;
    font-size: 18px;
}
.nxt3{
    /* border: 3px solid blue; */
    width: 25%;
    line-height: 2.5;
    padding-top: 70px;

}
.nxt3 h4{
    color:  #3C9CF5;
    font-size: 22px;
    font-weight: 500;
}
.nxt3 p{
    /* padding-left: 15px; */
    font-size: 18px;
}
.outline{
    width: 90%;
}
.outline1{
    text-align: center;
    color: #3C9CF5;
    font-size: 30px;
    padding-bottom: 40px;
}
.outline2{
    display: flex;
    justify-content: space-evenly;
}
.outlines{
    text-align: center;
    padding-bottom: 30px;
}
.outlines h1{
    font-size: 45px;
    color: #3B98ED ;
}
.outlines p{
    color: #000000 70%;
    font-size: 20px;
}
/* section.head ends here  */
/* section main starts here  */
/* section gomusic starts here  */
.main{
    background:linear-gradient(110.38deg, #2D87DA 1.14%, rgba(0, 133, 255, 0.72) 71.47%);
    max-width: 1500px;
}
.gomusic{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 75px 0;
    
}
.gm-head{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    padding: 30px 0;
    line-height: 1.3;
}
.gm-head h2{
    font-size: 70px;
    color: #FFFFFF;
    border-bottom: 2px dashed #FFFFFF;
    font-style: normal;
    /* border-width:30px: ; */
}
.gm-head h4{
    font-size: 35px;
    color: #FFFFFF;
    font-weight: lighter;
}
.gm-nxt{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
    flex-wrap: wrap;
}
.gm-nxt-1{
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.gm-1{
    /* height: 200px; */
    width: 60%;
}
.gm-1-c{
    height: 550px;
    width: 550px; 
    /* border: 3px solid white; */
    display: flex;
    border: 45px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
}
.gm-phones1{
    margin-top: 0;
    height: 500px ;
    width: 220px;
    padding-left: 10px;
}
.gm-phones1 img{
    width: 275px;
}
.gm-phones2{
    margin-top: 0;
    height: 400px ;
    width: 220px;
    margin-left: 20px;
}
.gm-phones2 img{
    width: 285px;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 20px;
    margin-right:  20px ;
}
.gm-2{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: lighter;
    padding: 0 30px;
}
.gm-2 h4{
    font-size: 35px;
    font-weight: lighter;
    padding-bottom: 20px;
}
.gm-2 p{
    font-size: 15px;
    font-weight: lighter;
}
.gm-nxt-2{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    color: white  ; 
    /* justify-content: ; */
    /* border: 3px solid red; */
}
.gm-nxt-2 .gm-1{
    justify-content: flex-end;
    width: 65%;
    /* border: 3px solid black; */
} 
.gm-nxt-2 .gm-2{
    width: 30%;
    /* border: 3px solid green; */
}
.hey{
    width: 60%;
    /* border: 3px solid black; */
    display: flex;
    justify-content: flex-end;
}  
.morescreen{
    padding: 40px 0;
}
.morescreen .text{
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 30px;
}
.ms-3{
    margin-top: 25px;
    width: 95%;
    margin: 0 auto;
    padding: 20px 0;
    background: rgba(114, 186, 253, 0.72);
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}
.d-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;
    color: #FFFFFF;
}
.d-text1{
    font-size: 20px;
}
.d-text2{
    font-size: 20px;
}
.ms-3 img{
    width: 100%;
    background: transparent;
}
.links{
    background: white;
    border-radius: 5px;
    width: 75%;
    font-size: 16px;
    margin: 0 auto;
    padding: 10px 5px;
    margin-bottom: 25px;
    text-align: center;
}
.links a{
    font-size: 16px;
    color: black;
}
.links span{
    font-size: 20px;
    padding: 0 5px;
}
.ffwma-1{
    color: white;
    display: flex;
    flex-direction: column; align-items: center;
    padding: 30px 0;
    line-height: 1.3;
}
.ffwma-1 h2{
    font-size: 75px;
    border-bottom: 3px dashed white;
}
.ffwma-1 p{
    font-size: 25px;
    padding: 15px 0;
}
.ffwma-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    padding: 20px 0;
}
.ffwma-2 .screens{
    width: 60%;
    display: flex;
}
.ffwma-2 .sc{
    height: 450px;
    width: 450px;
    border: 60px solid white;
    border-radius: 50%;
    display: flex;
    padding-right: 20px;
    justify-content: flex-start;
    left: 0;
}
.ffwma-2 .screens img{
    width: 600px;
}
.ffwma-2 .text{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: lighter;
    padding: 0 30px;
}
.hi{
    justify-content: flex-end;
}
.ffwma-3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    padding: 20px 0;
}
.ffwma-3 .screens{
    width: 60%;
    display: flex;
    justify-content: center;
}
.ffwma-3 .sc{
    height: 450px;
    width: 450px;
    display: flex;
    justify-content: center;
}
.ffwma-3 .text{
    width: 35%;
    display: flex;
    flex-direction: column;
    font-weight: lighter;
    justify-content: center;
    font-weight: lighter;
    padding: 10px 30px;
}
.ffwma-3 .text h4{
    font-size: 25px;
    font-weight: lighter;
}
.ffwma-3 .text p{
    font-size: 12px;
    font-weight: lighter;
    padding: 20px 0;
}
.ffwma-4{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}
.gp-1{
    padding-top: 160px;
}
.gp-2{
    padding-top: 120px;
}
.gp-3{
    padding-top: 80px;
}
.gp-4{
    padding-top: 0px;
}
.lgp-1{
    color: white;
    display: flex;
    flex-direction: column; align-items: center;
    padding: 40px 0;
    line-height: 1.3;
}
.lgp-1 h2{
    font-size: 75px;
    border-bottom: 3px dashed white;
}
.lgp-1 p{
    font-size: 25px;
    padding: 15px 0;
}
.lgp-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    padding: 20px 0;
}
.lgp-2 .screens{
    width: 60%;
    display: flex; 
    /* border: 3px solid red; */
    justify-content: center;
}
.scr{
    /* border: 3px solid black; */
    display: flex;
    
}
.lgp-2 .text{
    width: 35%;
    display: flex;
    flex-direction: column;
    font-weight: lighter;
    justify-content: center;
    font-weight: lighter;
    padding: 10px 40px;
}
.hmm{
    padding-left: 60px;
}
.haa{
    padding-right: 40px;
}
/* section go music ends here  */
